@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Create";
}

@*@model List<Items>*@
@model ElectronicsStore.Models.ItemViewModel

<h2>Create Product</h2>
@*<form action="/Item/Create" method="post" enctype="multipart/form-data">
  
    <div class="form-row">
       

        <div class="form-group col-md-6">
            <label for="ImageFile">ImageFile</label>
            <input type="file" class="form-control" id="ImageFile" name="ImageFile" placeholder="ImageFile" accept="image/*">
        </div>
        <div class="form-group col-md-6">
            <label for="ItemName">ItemName</label>
            <input type="text" class="form-control" id="ItemName" name="ItemName" placeholder="ItemName">
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ItemStatus">ItemStatus</label>
            <input type="text" class="form-control" id="ItemStatus" name="ItemStatus" placeholder="ItemStatus">
        </div>
    </div>
     
        <div class="form-group col-md-6">
            <label for="ItemDescription">ItemDescription</label>
            <input type="text" class="form-control" id="ItemDescription" name="ItemDescription" placeholder="ItemDescription">
        </div>
        <div class="form-group col-md-6">
            <label for="Condition">Condition</label>
            <input type="text" class="form-control" id="Condition" name="Condition" placeholder="Condition">
        </div>
         <div class="form-group col-md-6">
            <label for="Amount">Amount</label>
            <input type="number" class="form-control" id="Amount" name="Amount" placeholder="Amount">
        </div>
        <div class="form-group col-md-6">
            <label for="PricePerItem">PricePerItem</label>
            <input type="number" class="form-control" id="PricePerItem" name="PricePerItem" placeholder="PricePerItem">
        </div>
        <div class="form-group col-md-6">
            <label for="brand">brand</label>
            <input type="text" class="form-control" id="brand" name="brand" placeholder="brand">
        </div
         <div class="form-group col-md-6">
            <label for="SellerEmail">SellerEmail</label>
            <input type="text" class="form-control" id="SellerEmail" name="SellerEmail" placeholder="SellerEmail">
        </div>
         <div class="form-group col-md-6">
            <label for="SellerPhonenumber">Seller Phonenumber</label>
            <input type="text" class="form-control" id="SellerPhonenumber" name="SellerPhonenumber" placeholder="SellerPhonenumber">
        </div>
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    
    
    <a class="btn btn-danger" href="/Selller/index">Cancel</a>
</form>*@
 @section css {
    <link href="@Url.Content("~/css/CreateItemcss.css")" rel="stylesheet"/>
}
<div class="create-wrapper">
  <p class="title">Create Product</p>
  <form action="/Item/Create" method="post" enctype="multipart/form-data">
  
    <!-- <div class="form-row"> -->

    <input style="font-family: poppinsl" type="file" name="ImageFile" placeholder="upload image" accept="image/*">
    
    <input type="text" name="ItemName" placeholder="Item Name">
    
    <input type="text" name="ItemStatus" placeholder="ItemStatus">
    
    <input type="text" name="ItemDescription" placeholder="ItemDescription">
    
    <input type="text" name="Condition" placeholder="Condition">
    
    <input type="number" name="Amount" placeholder="Amount">
    
    <input type="number" name="PricePerItem" placeholder="PricePerItem">
    
    <input type="text" name="brand" placeholder="brand">
    
    <input type="email" name="SellerEmail" placeholder="SellerEmail">
    
    <input type="number" name="SellerPhonenumber" placeholder="SellerPhonenumber">

       
    <div class="edit-btns">
      <button type="submit" class="create-btn">Create</button>
      <button class="cancel-btn"><a href="/Selller/index">Cancel</a></button>
    </div>
    
@*    <button class="view-btn"><a href="/Selller/index">view page</a></button>*@
  </form>
</div>

