@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Create";
}

@*@model List<Items>*@
@model ElectronicsStore.Models.ItemViewModel

<h2>Create Product</h2>
<form action="/Item/Create" method="post" enctype="multipart/form-data">
  
    <div class="form-row">
        @*    for image
*@
        <div class="form-group col-md-6">
            <label for="ImageFile">ImageFile</label>
            <input type="file" class="form-control" id="ImageFile" name="ImageFile" placeholder="ImageFile" accept="image/*">
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ItemStatus">ItemStatus</label>
            <input type="text" class="form-control" id="ItemStatus" name="ItemStatus" placeholder="ItemStatus">
        </div>
    </div>
     
        <div class="form-group col-md-6">
            <label for="ItemDescription">ItemDescription</label>
            <input type="text" class="form-control" id="ItemDescription" name="ItemDescription" placeholder="ItemDescription">
        </div>
        <div class="form-group col-md-6">
            <label for="Condition">Condition</label>
            <input type="text" class="form-control" id="Condition" name="Condition" placeholder="Condition">
        </div>
         <div class="form-group col-md-6">
            <label for="Amount">Amount</label>
            <input type="number" class="form-control" id="Amount" name="Amount" placeholder="Amount">
        </div>
        <div class="form-group col-md-6">
            <label for="PricePerItem">PricePerItem</label>
            <input type="number" class="form-control" id="PricePerItem" name="PricePerItem" placeholder="PricePerItem">
        </div>
        <div class="form-group col-md-6">
            <label for="brand">brand</label>
            <input type="text" class="form-control" id="brand" name="brand" placeholder="brand">
        </div>
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    
    
    <a class="btn btn-danger" href="/Selller/index">Cancel</a>
</form>

 <a class="btn btn-danger" href="/Seller/index">VIEW PAGE</a>
