@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Create";
}

@*@model List<Items>*@
@model ElectronicsStore.Models.ItemViewModel

@section searchbar{}
 @section css {
    <link href="@Url.Content("~/css/CreateItem.css")" rel="stylesheet"/>
}



    <main>
  
  <div class="form-wrapper">
    <div class="title-wrap">
      <p class="title">Create Product</p>
    </div>

    <form action="/Item/Create" method="post" enctype="multipart/form-data">
        <div class="form-group-wrap">

        
      <div class="form-group one">
        <div class="input-container">
          <span>image</span>
          <input placeholder="upload image" style="font-family: poppinsl" type="file" name="ImageFile" accept="image/*">
        </div>
  
        <div class="input-container">
          <span> name</span>
            <input type="text" name="ItemName" placeholder="Item Name">
        </div>
  
        <div class="input-container">
          <span> status</span>
          <input type="text" name="ItemStatus" placeholder="ItemStatus">
        </div>
  
        <div class="input-container">
          <span> description</span>
          <input type="text" name="ItemDescription" placeholder="ItemDescription">
        </div>
  
        <div class="input-container">
          <span> condition</span>
           <input type="text" name="Condition" placeholder="Condition">
    
        </div>
      </div>
  
      <div class="form-group two">
        <div class="input-container">
          <span> amount</span>
           <input type="number" name="Amount" placeholder="Amount">
        </div>
  
        <div class="input-container">
          <span> unit price</span>
          <input type="number" name="PricePerItem" placeholder="PricePerItem">
        </div>
  
        <div class="input-container">
          <span> brand name</span>
        <input type="text" name="brand" placeholder="brand">
        </div>
  
        <div class="input-container">
          <span> email</span>
        <input type="email" name="SellerEmail" placeholder="SellerEmail">
        </div>
  
        <div class="input-container">
          <span> number</span>
           <input type="number" name="SellerPhonenumber" placeholder="SellerPhonenumber">
        </div>
      </div>
        </div>
      <div class="edit-btns">
        <button type="submit"  class="create-btn">Create</button>
        <button class="cancel-btn"><a href="/Item/Index">Cancel</a></button>
      </div>

    </form>
  </div>
</main>