@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Create";
}

@*@model List<Items>*@
@*@model ElectronicsStore.Models.SellerViewModel*@

<h2>Create Product</h2>
<form action="/Seller/Create" method="post">
    @*<div class="form-row">
        <div class="form-group col-md-6">
            <label for="ProductName">Item Id</label>
            <input type="number" class="form-control" id="ItemId" name="ProductName" placeholder="ItemId">
           
        </div>
        <div class="form-group col-md-6">
            <label for="SellerId">Seller Id</label>
            <input type="number" class="form-control" id="SellerId" name="SellerId" placeholder="SellerId">
        </div>
    </div>*@
    <div class="form-row">
        @*    for image
*@
        <div class="form-group col-md-6">
            <label for="SellerImage">SellerImage</label>
            <input type="text" class="form-control" id="SellerImage" name="SellerImage" placeholder="SellerImage">
        </div>
        
    </div>
     <div class="form-row">
        <div class="form-group col-md-6">
            <label for="SellerEmail">SellerEmail</label>
            <input type="text" class="form-control" id="SellerEmail" name="SellerEmail" placeholder="SellerEmail">
        </div>
        <div class="form-group col-md-6">
            <label for="SellerPhone">SellerPhone</label>
            <input type="number" class="form-control" id="SellerPhone" name="SellerPhone" placeholder="SellerPhone">
        </div>
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    
    
    <a class="btn btn-danger" href="/Selller/index">Cancel</a>
</form>

 <a class="btn btn-danger" href="/Seller/index">VIEW PAGE</a>




