@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Index";
}

@*@model List<ElectronicsStore.Models.Sellers>*@


    <h1>Items</h1>

    <table>
        <thead>
            <tr>
                
                <th>SellerId</th>
               <th>Seller Image</th>
                <th>SellerEmail</th>
                <th>SellerPhone</th>
                
                

            </tr>
        </thead>
        <tbody>
        @foreach(var seller in Model)
        {
            
                <td>@seller.SellerId</td>
                <td>@seller.SellerImage</td>
                <td>@seller.SellerEmail</td>
                <td>@seller.SellerPhone</td>

                <td>
              <a href="/Seller/details/@seller.SellerId" class=" btn btn-outline-info">Details</a>
            </td>
            <td>
                <a href="/Seller/Update/@seller.SellerId" class=" btn btn-outline-primary">Edit</a>
            </td>
            <td>
                @*<a href="/product/delete/@seller.SellerId" class=" btn btn-outline-danger">Delete</a>*@
                

            </td>
             
        }
        </tbody>
        
    </table>