@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@section Footer {}
@section header{}




  <button class="cancel-btn"><a href="/Home/Index">home</a></button>